.header-button {
    background-color: #8d6e63;
    color: #fff;
    padding: 15px 30px; /* Изменяем размер кнопки */
    border-radius: 5px; /* Изменяем скругление углов */
    margin: 10px;
    cursor: pointer;
    border: 2px solid #6d4c41; /* Добавляем рамку с определенными параметрами */
}

.header-button:hover {
    background-color: #6d4c41;
    color: #fff;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    display: flex;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product-left {
    flex: 0 0 auto;
    padding: 10px;
}

.product-left img {
    max-width: 70%; /* Максимальная ширина изображения равна ширине блока товара */
    max-height: 70px; /* Максимальная высота изображения, например, 200px */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}


.product-left .add-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-right {
    flex: 1 1 auto;
    padding: 10px;
}

.product-right h3 {
    font-size: 20px;
    margin-top: 0;
}

.product-right p {
    font-size: 14px;
}

.add-button:hover {
    background-color: #45a049;
}
