.header-button {
    background-color: #8d6e63;
    color: #fff;
    padding: 15px 30px; /* Изменяем размер кнопки */
    border-radius: 5px; /* Изменяем скругление углов */
    margin: 10px;
    cursor: pointer;
    border: 2px solid #6d4c41; /* Добавляем рамку с определенными параметрами */
}

.header-button:hover {
    background-color: #6d4c41;
    color: #fff;
}
